<template>
    <modal-container v-if="modal" :title="title">
        <user-post-form-create v-if="modal.type === MODAL.CREATE_POST" />
        <user-post-form-update v-if="modal.type === MODAL.UPDATE_POST" />
    </modal-container>
</template>

<script setup>
import ModalContainer from '@/components/ModalContainer';
import UserPostFormCreate from '@/components/user-post-form/UserPostFormCreate';
import UserPostFormUpdate from '@/components/user-post-form/UserPostFormUpdate';
import { MODAL } from '@/constants/modal';
import { inject, computed } from 'vue';
const { modal } = inject('modal');

const title = computed(() => {
    return modal.value.type === MODAL.CREATE_POST ? 'Создание поста' : 'Редактирование поста'
})
</script>
