<template>
    <user-post-form 
        :post="post" 
        btn-text="Добавить" 
        @action="addPost(post)" 
        @set-text="setText"
        @set-user-id="setUserId"
    />
</template>

<script setup>
import { inject, ref } from 'vue';
import usePostForm from '@/composition/usePostForm';
import UserPostForm from '@/components/user-post-form/UserPostForm';

const { addPost } = inject('post');
const { modal } = inject('modal');

const post = ref({
    text: '',
    userId: modal.value.user.id,
});

const { setText, setUserId } = usePostForm(post);
</script>
