<template>
    <div class="user-post-form">
        <input @input="$emit('setText', $event.target.value)" :value="props.post.text"/>
        <select @input="$emit('setUserId', $event.target.value)" :value="props.post.userId">
            <option v-for="(user, id) in users" :key="id" :value="user.id">
                {{ user.name }}
            </option>
        </select>
        <button @click="$emit('action')" :disabled="!props.post.text">{{ btnText }}</button>
    </div>
</template>

<script setup>
import { inject } from 'vue';
const { users } = inject('users');

const props = defineProps({
    post: Object,
    btnText: String,
    action: Function,
})
</script>
