<template>
    <div class="user-table">
        <div class="user-table__column" v-for="(user, id) in props.users" :key="id">
            <user-block :user="user" />
            <button class="user-table__create-post" @click="openModalCreatePost(user)">Добавить</button>

            <draggable :list="user.posts" item-key="id" class="user-table__posts" group="people">
                <template #item="{ element: post }">
                    <div class="user-table__post">
                        <div class="user-table__post-text">{{ post.text }}</div>
                        <div class="user-table__post-btns">
                            <button class="user-table__post-edit" @click="openModalUpdatePost(user, post)">Изменить</button>
                            <button class="user-table__post-remove" @click="removePost(user, post.id)">Удалить</button>
                        </div>
                    </div>
                </template>
            </draggable>
        </div>
    </div>
</template>

<script setup>
import draggable from "vuedraggable";
import UserBlock from '@/components/UserBlock';
import { MODAL } from '@/constants/modal';
import { inject } from 'vue';

const props = defineProps({
    users: Array,
})

const { removePost } = inject('post');
const { openModal } = inject('modal');

function openModalCreatePost(user) {
    openModal({
        type: MODAL.CREATE_POST,
        user,
    });
}

function openModalUpdatePost(user, post) {
    openModal({
        type: MODAL.UPDATE_POST,
        user,
        post,
    });
}
</script>

<style lang="scss">
.user-table {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 10px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $lgrey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey;
        border-radius: 20px;
        border: 3px solid $grey;
    }

    &__column {
        min-width: 300px;
        height: auto;
        border: 1px solid $black1;
        padding: 5px;
        box-sizing: border-box;
    }

    &__posts {
        display: flex;
        flex-direction: column;
    }

    &__post {
        display: inline-block;
        word-break: break-word;
        width: 100%;
        border: 1px solid $black1;
        padding: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;

        &-text {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__post-btns {
        margin-top: 10px;

        button {
            display: block;
        }
    }
}</style>