<template>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            {{ props.title }}
          </div>  
          <div class="modal-body">
            <slot/>
          </div>
        </div>
      </div>
    </div>
</template>

<script setup>
const props = defineProps({
    title: String,
})
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black1;
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 8px $black2;
  transition: all 0.3s ease;
}

.modal-header {
  margin-top: 0;
  font-size: 20px;
}

.modal-body {
  margin: 20px 0;
}

.modal-enter-from, .modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>