<template>
    <div class="user-block">
        <div class="user-block__name">{{ props.user.name }}</div>
        <div class="user-block__posts-count">{{ props.user.posts.length }}</div>
    </div>
</template>

<script setup>
const props = defineProps({
    user: Object,
})
</script>

<style lang="scss">
.user-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &__name {
        font-weight: bold;
    }
    &__posts-count {
        font-weight: bold;
        border: 1px solid $black1;
    }
}
</style>
