<template>
    <div v-if="resultRequest !== requestStatus.success">
        <div variant="info" show>{{ loadedStatusText }}</div>
    </div>
    <user-table v-else :users="users" />
    <user-post-form-modal />
</template>

<script setup>
import { onMounted } from 'vue';
import useUsersTable from '@/composition/useUsersTable';
import UserTable from '@/components/user-table/UserTable';
import UserPostFormModal from '@/components/user-post-form/UserPostFormModal';

const { fetchUserAndPosts, resultRequest, requestStatus, loadedStatusText, users } = useUsersTable();

onMounted(fetchUserAndPosts);
</script>