body {
    background: $lgrey;
}

input {
    box-sizing: border-box;
}

input, button, select {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}